*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

html, body {
    overflow: hidden;
}

body {
    background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background: #055996;
    border-radius: 25px;
    padding: 20px;
    max-width: 300px;
}

.main-box{
    background: #b3d6ec;
    border-radius: 25px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    
}

.city{
    color: rgb(52, 59, 65);
    font-size: 30px;
    font-weight: 300;
    margin-top: 15px;
}

.temp{
    font-size: 20px;
    color: rgb(43, 48, 53);
    margin: auto;
}

.prev, .humidity{
    text-transform: capitalize;
}

.icons{
    width: 20px;
}

.weather-icon{
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.btn-search{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    background-color:#dfdfd9fa;
    cursor: pointer;
}

.btn-voice{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    background-color:#dfdfd9fa;
    cursor: pointer; 
    margin: auto 1px; 
}

input{
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 25px;
    font-size: 18px;
    background:#dfdfd9fa;
    color: #818589;
    width: calc(100% - 90px);
    margin-right: 5px;
}


/* Responsive for tablets */
@media (max-width: 768px) {
    .main-box {
        width: 75%;
        background-repeat: no-repeat;

    }
}

/* Responsive for smartphones */
@media (max-width: 576px) {
    .main-box {
        width: 75%;

    }
}