*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gabarito', cursive;
}

body {
    background-image: url("https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw1.webp");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    background: #0b7d83;
    border-radius: 25px;
    opacity: 0.9;
    padding: 20px;
    width: 90%;
    max-width: 300px;
}

.box2{
    display: flex;
    color: aliceblue;
    align-items: center;

}

.city{
    color: aliceblue;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
}

.temp{
    font-size: 20px;
    color: aliceblue;
    margin-top: 10px;
}

.prev{
    text-transform: capitalize;
}

.img-search{
    width: 20px;
}

.btn-search{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color:#ADD8E6;
    cursor: pointer;
    float: right;
    
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    font-size: 15px;
    background:#ADD8E6;
    color: #818589;
    width: calc(100% - 60px);
}


/* Responsive for tablets */
@media (max-width: 768px) {
    .main-box {
        width: 75%;
        background-repeat: no-repeat;

    }
}

/* Responsive for smartphones */
@media (max-width: 576px) {
    .main-box {
        width: 75%;

    }
}